{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4 mt-4">Wishlist</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        {% if wishlist_items %}
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="table-responsive table-borderless rounded">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">
                                Your saved items
                            </th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    {% for item in wishlist_items %}
                    <tbody>
                        <tr>
                            <td class="w-25">
                                <a href="{{ item.product.image_url }}" target="_blank">
                                    <img class="img-fluid rounded" src="{{ item.product.image_url }}">
                                </a>
                            </td>
                            <td class="text-left">
                                <a class="wishlist-item" href="{% url 'product_detail' item.product.id %}">
                                    <p class="lead">{{ item.product.name }}</p>
                                </a>
                                <a class="remove-item text-danger" href="{% url 'remove_from_wishlist' item.product.id  %}">
                                    <small>Remove</small></a>
                            </td>
                            <td>
                                €{{ item.product.price }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- No items in the wishlist -->
        {% else %}
        <div class="col-12 col-lg-8 offset-lg-2">
            <p class="lead text-left my-5">You have no saved items</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <a href="{% url 'products' %}" class="btn btn-outline bg-coral">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>To All Products</span>
            </a>
            <a href="{% url 'profile' %}" class="btn btn-outline bg-peach">
                <span>My Profile</span>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}