@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Style+Script&display=swap');

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}    

h1, h2, h3, h4, h5, h6 {
    font-family: 'Style Script', cursive;
    letter-spacing: .2rem;
}
    
/* colors */
.bg-apricot {
    background-color: #FBC4AB;
}

.bg-peach {
    background-color: #FFDAB9;
}

.bg-melon {
    background-color: #F8AD9D;
}

.bg-pink {
    background-color: #F4978E;
}

.bg-coral {
    background-color: #F08080;
}

.bg-wine {
    background-color: #4A0D07;
}

.btn-outline {
    border: 1px solid #4A0D07;
}

/* navbar */
.navbar .navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    height: 80px;
    font-size: 1.3rem;
}

.navbar .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #EC5B5B;
}

.navbar-light .navbar-nav .nav-link {
    color: #4A0D07;
}

.navbar-toggler {
    margin-left: 8px;
}

.bag-items-quantity {
    position: absolute;
    padding-top: 15px; 
}

/* search input field in the navbar */
.search-field {
    z-index: 2;
    width: 0;
    padding: 8px 0;
    border: none;
    margin: 0;
}

.label-icon {
    color: #4A0D07;
}

.label-icon:hover {
    color: #EC5B5B;
}

.search-field:focus {
    width: 200px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFDAB9;
    text-align: left;
    padding-left: 5px;
    border: none;
    outline: 0;
}

/* footer */
footer {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 1.2rem;
}

footer i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

footer i:hover {
    color: #EC5B5B;
}

footer .nav-link:hover {
    color: #EC5B5B;
}

.copyright {
    padding-top: 3rem;
}

a {
    color: #4A0D07;
}

/* home page */
.container-hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-inner {
    position: absolute;
    margin-top: 50px;
}

.hero-inner h2 {
    font-size: 1.5rem;
}

.hero-inner .btn {
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.hero-inner .btn:hover {
    background-color: #F8AD9D;
}

.section-center {
    padding: 30px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.awards {
    margin: 30px auto;
}

.awards img {
    width: 80%;
}

.signup-btn,
.submit-button {
    border-radius: 10px;
}

.signup-btn:hover {
    background-color: #F8AD9D;
}

.remove-item,
.update-btn {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group>.custom-file, 
.input-group>.custom-select, 
.input-group>.form-control, 
.input-group>.form-control-plaintext {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
  
input[type=number] {
    -moz-appearance: textfield;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.flex {
    display: flex;
    justify-content: left;
    position: relative;
}

.wishlist {
    position: absolute;
    right: 2%;
}

/* -------------------------------- Media Queries */

@media (max-width: 500px) {
    .hero-inner h2 {
        font-size: 1rem;
    }

    .hero-inner {
        margin-top: 20px;
    }

    .search-field:focus {
        width: 100px;
    }
  } 