{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for s in subscriptions %}
                <div class="card" style="width: 22rem;">
                    {% if s.image_url %}
                        <img class="card-img-top img-fluid" src="{{ s.image_url }}" alt="{{ s.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{% static 'images/no-image.png' %}" alt="{{ s.name }}">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ s.name }}</h5>
                      <p class="card-text">{{ s.description }}</p>
                      <h3>{{ s.id }}</h3>
                      <a href="{% url 'subscribe' s.id %}" class="btn bg-wine text-white">Subscribe</a>
                      
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}