{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h1 class="mt-4 mb-4">{% trans "Change password" %}</h1>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn bg-wine text-white mb-5" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
