.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  .hidden {
      display: none;
  }

  .container-sub {
    position: relative; 
  }

  .sub-heading {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    width: 30%;
  }

  .sub-inner {
    font-size: 1.2em;
    position: absolute;
    width: 40%;
    top: 30px;
    left: 25px;
    color: white;
  }

  /* -------------------------------- Media Queries */

@media (max-width: 768px) {
  .sub-inner {
    font-size: 1.2em;
    position: relative;
    color: black;
    width: 100%;
  }
}