{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4863a75fd6.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>BabaGifts {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top"></header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">BabaGifts</a>
      <div class="d-flex order-lg-1 ml-auto">
        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto order-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscriptions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul> 
          <div class="navbar-nav ms-auto dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user d-none d-lg-inline-block"></i><span class="d-lg-none">User</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                      <a href="" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </div>
      </div>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %} 
    <footer>
      <div class="row">
          <div class="col-12 col-md-9">
            <ul class="nav nav-fill">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shipping & Returns</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">F.A.Q.</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
              <a class="grey-text text-lighten-4 right" href="https://www.facebook.com">
                  <i class="fab fa-facebook-square"></i>
              </a>
              <a class="grey-text text-lighten-4 right" href="https://www.youtube.com">
                  <i class="fab fa-youtube-square"></i>
              </a>
              <a class="grey-text text-lighten-4 right" href="https://www.twitter.com">
                  <i class="fab fa-twitter-square"></i>
              </a>
          </div>
      </div>
      <div class="right">
        <p>Copyright &copy; 2021 Irasan</p>
      </div>
    </footer>
    {% endblock %}

    {% block postloadjs %}
      <script type="text/javascript">
        $('.toast').toast('show');
      </script>
      <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
      </script>
    {% endblock %}

    
  </body>
</html>
